<%- include("partials/header"); -%>
<div class="container-fulid text-white">
  <h1 class="text-center mb-5 mt-5">Welcome to Morstist</h1>
  <h2 class="fw-bold mb-3 text-center">
    Enter your message here to convert to morse code.
  </h2>

  <label for="formGroupExampleInput" class="form-label text-center ms-3"
    ><h3 class="tex-bold mt-5">Enter Morse Code here:</h3></label
  >
  <form action="/" method="post">
    <div class="input-group mb-3 ms-3">
      <input
        onchange="this.form.submit()"
        style="max-width: 45rem"
        type="text"
        class="form-control"
        autocomplete="off"
        name="input"
        placeholder="Enter message"
        aria-label="Enter message"
        aria-describedby="submit button"
      />
      <button class="btn btn-secondary" type="submit" id="buttonSubmit">
        Convert
      </button>
    </div>
  </form>
  <div
    class="card border-dark ms-3 me-3 mb-3"
    style="max-width: 50rem; height: 40vh"
  >
    <div class="card-header text-dark text-center">
      Morse Equivalent
      <button class="copy">
        <i class="bi bi-clipboard"></i>
      </button>
    </div>
    <div class="card-body text-dark">
      <p class="card-text code fw-bold fs-3 result" ><%= morseCode %></p>
    </div>
  </div>
</div>

<script>
  document.querySelector(".copy").addEventListener("click", async () => {
    await navigator.clipboard.writeText(document.querySelector(".result").innerHTML);
  });
</script>

<%- include("partials/footer"); -%>
